// @import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

html, body {
    height: 100%;
}

body {
    margin: 20;
    padding: 20;
    width: 100%;
    display: table;
    font-weight: 100;
    font-family: 'Lato';
}
