// @import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

$blue: #428bca;
$black: #000000;

html, body {
    // background: transparent url('/img/background-main.jpg') no-repeat center center/cover;
    background: url('/img/background/sayagata.png');
    height: 100%;
    font-weight: 100;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.form-register {

}

.bg-transparent-black {
    background-color: rgba(0, 0, 0, 0.6);
    color: $black;
}

.content {
    margin-top: 20px;
}

*, *:before, *:after {
    box-sizing: initial;
}
